* {
    box-sizing: border-box;
}

a {
    width: 80px;
    height: 50px;
    background-color: blue;
    padding: 10px;
    color: aliceblue;
    border-radius: 5px;  
}

a:hover {
    background-color: aqua;
    color: blue;
}

.caja1 {
    background-color: lightblue;
    height: 20rem;
}
.caja2 {
    background-color: lightgoldenrodyellow;
    height: 20rem;
}
.caja3 {
    background-color: lightgreen;
    height: 20rem;
}

#menu {
    padding: 2rem;
}

input {
    height: 50px;
}